<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Go fullscreen!</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toggle.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    </head>
    <body>
        <div id="container">
            <div class="toggle">
                <input type="checkbox" name="toggle" class="check-checkbox" id="mytoggle">
                <label class="check-label" for="mytoggle">
                    <div id="background"></div>
                    <span class="face">
                        <span class="face-container">
                            <span class="eye left"></span>
                            <span class="eye right"></span>
                            <span class="mouth"></span>
                        </span>
                    </span>
                </label>
            </div>
        </div>
        
        <script type="text/javascript">
            $("#mytoggle").on('click', function() {
                $.ajax({
                    url: "{{ url_for('toggle') }}",
                    type: "PUT"
                });
            });

            let checkbox = $("#mytoggle");
            let poll = function() {
                $.get("{{ url_for('is_group_on') }}", function(data) {
                    if (data.all_on && !checkbox.is(":checked")) {
                        console.log("data.all_on: " + data.all_on);
                        checkbox.prop("checked", true);
                        console.log("checked: ")
                    } else if (!data.all_on && checkbox.is(":checked")) {
                        checkbox.prop("checked", false);
                    }
                    setTimeout(poll, 1000);
                });
            };
            poll();
        </script>
    </body>
</html>